.super-mario {
    width: 200px;
    position: absolute;

}

.goomba {
    width: 100px;
    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
}

.baloon {
    position: absolute;
    margin-left: 300px;
}

.speach {
    font-size: 25px;
    position: absolute;
    margin-left: 320px;
    margin-top: 50px;
    z-index: 1;
}

.bowser {
    width: 200px;
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
}