ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    margin-right: 40px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
}
h1{
    text-align: center;
}
section{
    width: 25%;
    display: inline-block;
}

